body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    margin: 0 auto;
    width: 52%;
}

.dropshadow {
    box-shadow: 0px 0px 80px 1px #cccccc;
}

.menu ul {
    list-style-type: none;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 0;
    height: 40px;
    overflow: hidden;
    user-select: none;
}

.menu li {
    position: relative;
    float: left;
    width: 25%;
    height: 40px;
    cursor: pointer;
}

.menu li:hover {
    background-color: #fafafa !important;
}

.menu div {
    display: block;
    text-align: center;
    color: #444444;
    font-weight: bold;
    font-size: 15px;
    padding: 13px;
}

.menu div:active {
    color: #fafafa;
}

.inputform {
    padding: 0.05;
    font-family: Verdana;
    background-color: #fafafa;
    color: #555555;
}

.inputform h1 {
    font-family: "Trebuchet MS", arial;
    font-weight: normal;
    font-size: 35px;
    color: #555555;
    text-align: center;
    margin: 0 auto;
    padding: 80px;
}

.inputform div {
    margin: 10 auto;
    margin-top: 30;
    width: 62%;
    height: 60px;
}

#ID_selector {
    background: transparent;
    outline-width: 0;
    height: 34px;
    font-size: 18px;
    text-align: right;
    font-weight: normal;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #4090ff;
    border-bottom-width: 2;
}

#ID_selector:hover {
    border-bottom-width: 3;
    border-bottom-color: #3088ff;
}

#ID_selector.inactive {
    border-bottom-color: #e0e0e0;
    color: #cccccc;
}

#ID_selector.inactive:hover {
    border-bottom-width: 2;
}

.inputfield {
    font-family: "Trebuchet MS", arial;
    font-weight: normal;
    font-size: 20px;
    color: #606060;
    margin: 30 auto;
    width: 60%;
}

.inputfield input {
    height: 25px;
    width: 58%;
    float: right;
}

#new_fields_button {
    box-shadow: 0px 1px 2px 1px #dddddd;
    margin: 0;
    margin-right: 10px;
    float: right;
    height: 30px;
    width: 80px;
    font-size: 15px;
    font-weight: thin;
    text-align: center;
    padding-right: 3px;
    line-height: 30px;
    background-color: #f0f0f0;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #bbbbbb;
    user-select: none;
    cursor: pointer;
}

#new_fields_button:hover {
    background-color: #dddddd;
}

#new_fields_button:active {
    box-shadow: none;
    background-color: #cccccc;
    border-color: #dfdfdf;
}

#new_fields_button.inactive {
    background-color: #eeeeee;
    border-color: #cccccc;
    box-shadow: none;
    color: #cccccc;
    cursor: default;
}

#new_fields_button.inactive:hover {
    background-color: #eeeeee;
    border-color: #cccccc;
    box-shadow: none;
    color: #cccccc;
    cursor: default;
}

#new_fields_button.inactive:active {
    background-color: #eeeeee;
    border-color: #cccccc;
    box-shadow: none;
    color: #cccccc;
    cursor: default;
}

.inputform #submit_button {
    /*
    box-shadow: 2px 2px 10px 2px #dcdcdc;
    */
    box-shadow: 2px 2px 20px 1px #bbbbbb;
    text-align: center;
    margin-top: 100;
    margin-bottom: 70;
    width: 63%;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Trebuchet MS";
    font-size: 27px;
    font-weight: lighter;
    background-color: #4bcf5a;
    color: #fcfcfc;
    user-select: none;
    border-style: solid;
    border-width: 3px 1px 3px 1px;
    border-bottom-color: #40c050;
    border-right-color: #40c050;
    border-left-color: #60e070;
    border-top-color: #54d464;
}

.inputform #submit_button:hover {
    background-color: #46bf53;
    border-style: solid;
    border-width: 3px 1px 3px 1px;
    border-bottom-color: #40c050;
    border-right-color: #40c050;
    border-left-color: #60e070;
    border-top-color: #30c050;
}

.inputform #submit_button:active {
    /*
    box-shadow: 0px 0px 20px 1px #cccccc;
    */
    box-shadow: none;
    background-color: #40b050;
    color: #255525;
    line-height: 49px;
    border-style: solid;
    border-width: 3px 1px 3px 1px;
    border-top-color: #30b040;
    border-left-color: #40c050;
    border-right-color: #60e070;
    border-bottom-color: #60e070;
}

#results {
    background-color: #fafafa;
    margin-top: 50;
    margin-bottom: 100;
}

#results ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    height: 40px;
    overflow: hidden;
}

#results .th {
    list-style-type: none;
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 0;
    height: 50px;
    line-height: 30px;
    overflow: hidden;
}

#results li {
    position: relative;
    float: left;
    width: 33.3%;
    height: 40px;
}

#results div {
    display: block;
    text-align: center;
    font-size: 15px;
    padding: 13px;
}

#results > .tr_odd div {
    font-weight: normal;
    background-color: #fafafa;
}

#results > .tr_even {
    font-weight: normal;
    background-color: #f2f2f2;
}

@media only screen and (max-device-width: 480px) {
    body {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: black;
    }

    .inputform #submit_button {
        width: 90%;
        height: 80px;
        line-height: 80px;
        margin-top: 105%;
        margin-bottom: 5%;
    }

    .menu ul {
        padding: 40;
        height: 3%;
    }

    .menu li {
        height: 3%;
    }

    .menu div {
        font-size: 30px;
    }
}