body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    margin: 0 auto;
    width: 1000px;
}

.menu ul {
    list-style-type: none;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 0;
    height: 40px;
    overflow: hidden;
}

.menu li {
    float: left;
    width: 250px;
    height: 40px;
    cursor: pointer;
}

.menu li:hover {
    background-color: #e5e5e5;
}

.menu div {
    display: block;
    text-align: center;
    color: #444444;
    font-weight: bold;
    font-size: 15;
    padding: 13;
}

.inputform {
    font-family: "Verdana", "Segoe UI", "Lucida Sans";
    background-color: #fafafa;
    color: #555555;
}

.inputform h1 {
    font-family: "Segoe UI", "Lucida Sans";
    color: #444444;
    text-align: center;
    margin: 0 auto;
    padding: 70px;
}

.inputform div {
    margin: 10 auto;
    width: 620px;
    height: 60px;
}

.inputfield {
    margin: 30 auto;
    width: 600px;
    font-size: 20px;
}

.inputfield input {
    height: 25px;
    width: 350px;
    float: right;
}